{% extends 'base_front.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
	<h1>Error</h1>
	{% if message %}
		<p>{{ message }}</p>
		<p>{{ rate }}</p>
	{% else %}
		<p>An error has occurred.</p>
	{% endif %}
{% endblock %}