{% extends 'base_front.html.twig' %}

{% block title %}Profile update!{% endblock %}

{% block body %}
    <div class="profile">
        {% if hasPending is null %}
        <div class="flex-col dark:bg-slate-800 text-white relative">
            <h1 class="text-2xl mb-4 text-white" >Become an Agent</h1>
            <p class="text-white">Simply by submiting an official document of your abilites you could become the futur Agent and execute order from this platform</p>
            <a href="{{ path('profile_become_agent') }}" class="rounded mt-4 h-16 bg-violet-600 flex items-center justify-center">Apply</a>
        </div>
        {% endif %}
        
        <div class="flex-col dark:bg-slate-800 text-white relative">
            <h1 class="text-2xl mb-10">Update Profile</h1>
            {{ form_start(form) }}
                {{ form_rest(form) }}
                <input type="submit" class="rounded mt-4 h-16 bg-violet-600 flex items-center justify-center text-white" value="S'enregistrer">
            {{ form_end(form) }}
        </div>
        
    </div>
    
{% endblock %}
