{% extends 'base_front.html.twig' %}

{% block title %}Profile update!{% endblock %}

{% block body %}
    <div class="profile">
        {% if hasPending is null %}
        <div class="flex-col dark:bg-slate-800 text-white relative">
            <h1 class="text-2xl mb-4 text-white" >Become an Agent</h1>
            <p class="text-white">Simply by submiting an official document of your abilites you could become the futur Agent and execute order from this platform</p>
            <a href="{{ path('profile_become_agent') }}" class="rounded mt-4 h-16 bg-violet-600 flex items-center justify-center">Apply</a>
        </div>
        {% endif %}
        <div class="flex-col dark:bg-slate-800 text-white relative">
            <h1 class="text-2xl mb-4 text-white" >Select your skills</h1>
            <div class="flex justify-start1">
                <div class="mb-3 xl:w-96">
                  <select multiple class="multiple dark:bg-slate-800" aria-label="Default select example">
                      <option value="1" class="border-b-2 border-violet-600 aria-pressed:border-violet-600" selected>One</option>
                      <option value="2" class="border-b-2 border-violet-600" selected>Two</option>
                      <option value="3" class="border-b-2 border-violet-600">Three</option>
                  </select>
                </div>
              </div>
        </div>
        <div class="flex-col dark:bg-slate-800 text-white relative">
            <h1 class="text-2xl mb-10">Update Profile</h1>
            {{ form_start(form, { 'attr': { 'class': 'custom-form'} }) }}
                {{ form_rest(form) }}
                <input type="submit" class="rounded mt-4 h-16 bg-violet-600 flex items-center justify-center text-white" value="Update">
            {{ form_end(form) }}
        </div>
        
    </div>
    
{% endblock %}
