{% extends 'base_front.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    <div class="container-sign">
        {% if errors %}
            <h1 class="text-4xl">Your token couldn't been validated</h1>
            <span class="mt-16">{{errors}}</span>
            <span>Please contact us.</span>
        {% else  %}
            <h1 class="text-4xl">Your token has been validated</h1>
            <span class="mt-16">You can know access all the website freely. Click <a class="text-rose-800" href="{{ path('front_default_index') }}">here</a> to go to the missions list</span>
        {% endif %}
    </div>
{% endblock %}
