<div class="relative  w-28 h-36">
    <div class="w-20 h-20 absolute left-5 top-5 rotate-45 border-2 border-red-600">
    </div>
    <div class="w-20 h-20 absolute left-5 top-11 rotate-45 border-2 border-violet-600">
    </div>
    <div class="w-20 h-20 absolute left-5 top-7 rotate-45 border-2 border-red-600">
    </div>
    <div class="w-20 h-20 absolute left-5 top-9 rotate-45 border-2 border-red-600">
    </div>
    <div class="w-16 h-15 absolute left-7 top-11 rotate-45 overflow-hidden bg-violet-600">
        <img class="-rotate-45 scale-150" src="{{src}}" alt="">
    </div>
</div>