{% extends 'base_front.html.twig' %}

{% block title %}Listing of my missions{% endblock %}

{% block body %}
    <h1>Listing of my missions</h1>
    
    {% for mission in missions %}
        {{ mission.name }} <br>
        <a href="{{ path('front_mission_show', {'slug': mission.slug}) }}">See the mission</a>
    {% endfor %}
{% endblock %}
