{% extends 'base_front.html.twig' %}

{% block title %}{{ mission.name }}{% endblock %}

{% block body %}
    <h1>{{ mission.name }}</h1>

    {% if is_granted('ROLE_AGENT') and mission.status is same as('free') %}
        <a href="{{ path('front_mission_asign', {'id': mission.id, 'token': csrf_token('asign' ~ mission.id)}) }}">Accept the Mission !</a>
    {% endif %}
    {% if is_granted('ROLE_AGENT') and mission.status is same as('in_progress') %}
        <a href="{{ path('front_mission_finish', {'id': mission.id, 'token': csrf_token('finish' ~ mission.id)}) }}">End the mission</a>
    {% endif %}


{% endblock %}
