{% block title %}I love potichats{% endblock %}

{% block body %}

    <h1>There's nothing to see here but potichats</h1>
    <img src="{{asset('images/cat-images/cat1.jpeg')}}" alt="eye">
    <a href="{{ path('front_default_challenge') }}">unless...</a>

{% endblock %}