
$bg-color: #1E293B;
$body-bg: #334155;
$text-color: white;
$main-color: #7C3AED;
$main-color-light: lighten(#7C3AED, 20%);
$light-gray: #3d3d52;
$errors: #ff4040;
$shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);