.main-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    border-radius: 0.25em;
    background-color: $main-color;
    color: $text-color;
    font-weight: bold;
    font-size: 16px;
    max-width: 150px;
    width: 100%;
    cursor: pointer;

    &:hover {
        background-color: $main-color-light;
    }
}