.container-sign {
    width: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.back {
        padding-top: 40px;
    }
    .form-sign {
        background-color: $bg-color;
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 32px;
        max-width: 500px;
        width: 100%;
        box-shadow: $shadow;
        border-radius: 8px;
        .inputs {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .main-cta {
            align-self: center;
        }

    }
}

.custom-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    > div {
        display: flex;
        position: relative;
        @include breakpoint(tablet) {
            flex-wrap: wrap;
            gap: 6px;
        }
        > label {
            min-width: 150px;
            font-size: 20px;
            @include breakpoint(tablet) {
                font-size: 10px;
            }
        }
        > ul {
           position: absolute; 
           bottom: -1.3em;
           > * {
            color: rgb(255, 43, 43);

           }
        }
        .vich-image {
            max-width: 100%;
            img {
                max-height: 300px;
            }
        }
        > input, > select {
            flex: 1;
            border-bottom: 2px solid rgb(124 58 237);
            background-color: transparent;
            font-size: 18px;
            @include breakpoint(tablet) {
                font-size: 14px;
            }
        }
        > textarea {
            border-bottom: 2px solid rgb(124 58 237);
            background-color: transparent;
            width: 100%;
            color: white;
        }
    }
}