.container-sign {
    width: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.back {
        padding-top: 40px;
    }
    .form-sign {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 32px;
        max-width: 500px;
        width: 100%;
        box-shadow: $shadow;
        border-radius: 8px;
        .inputs {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .main-cta {
            align-self: center;
        }
    }
}

.custom-form {
    display: flex;
    flex-direction: column;
    gap: .8em;
    > div {
        display: flex;
        position: relative;
        > label {
            width: 150px;
            font-size: 20px;
        }
        > ul {
           position: absolute; 
           bottom: -1.3em;
           > * {
            color: rgb(255, 43, 43);

           }
        }
        > input, > select {
            border-bottom: 2px solid rgb(124 58 237);
            background-color: transparent;
            width: 100%;
            font-size: 18px;
        }
    }
}