input {
    &:focus {
        outline: none;
    }
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    label {
        font-size: 12px;
    }
    input,select {
        display: flex;
        border: 1px solid $light-gray;
        border-radius: 0.25em;
        padding: 10px;
        color: $bg-color;
        option {
            color: $bg-color;
        }

        transition: .4s;
        &::placeholder {
            color: $light-gray;
        }

        &:focus {
            outline: none;
            border-color: $main-color;
        }
    }
    li {
        color: $errors;
        font-size: 12px;
    }
}

.input, textarea {
    display: flex;
    border: 1px solid $light-gray;
    border-radius: 0.25em;
    padding: 10px;
    transition: .4s;
    color: $bg-color;
    resize: none;
    &::placeholder {
        color: $light-gray;
    }

    &:focus {
        border-color: $main-color;
        outline: none;
    }
}

.errors {
    color: $errors;
    font-size: 12px;
}

