
@tailwind base;
@tailwind components;
@tailwind utilities;

// utils 
@import 'utils/vars';
@import 'utils/fonts';
@import 'utils/breakpoints';

// components
@import 'components/navbars';
@import 'components/inputs';
@import 'components/buttons';
@import 'components/forms';
@import 'components/card';
@import 'components/steps';
@import 'components/text-link';
@import 'components/pagination';
@import 'components/container';
@import 'components/rating';

//pages globals
@import 'pages/list.scss';

// pages
@import 'pages/profile';
@import 'pages/mission';
@import 'pages/index';

//globals
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;
    background-color: $body-bg;
    @include breakpoint(tablet) {
        padding: 0 24px;

        &:has(#main-page-container) {
            padding: 90px 0;
        }
    }
    &.front {
        padding-top: 90px;
    }
    &.backoffice {
        padding-left: 225px;
    }
}

.err-color {
    color: $errors;
}