
@tailwind base;
@tailwind components;
@tailwind utilities;

// utils 
@import 'utils/vars';
@import 'utils/fonts';
@import 'utils/breakpoints';

// components
@import 'components/navbars';
@import 'components/inputs';
@import 'components/buttons';
@import 'components/forms';
@import 'components/card';

//pages globals
@import 'pages/list.scss';

//globals
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: $bg-color;
    @include breakpoint(tablet) {
        padding: 0 24px;
    }
    &.backoffice {
        padding-left: 225px;
    }
}