.profile {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10em;
    gap: 2em;
    > div {
        border-radius: 12px;
        -webkit-box-shadow: 3px 2px 27px -4px rgba(0,0,0,0.52); 
        box-shadow: 3px 2px 27px -4px rgba(0,0,0,0.52);
        padding: 2em;
        display: flex;
        flex-direction: column;
    }

    * {
        color: white;
    }
}


.multiple {
    width: 200px;
    display: flex;
    flex-direction: column;
    > option {
        padding-bottom: .2em;
        padding-top: .8em;
    }
}